@model csharpproject.Models.Person

@{
    ViewBag.Title = "Details";
}

<h4>Profile Page, yo</h4>
<h4>Profile page, yo</h4>

<div>
    <h1>
        @Html.DisplayFor(model => model.Title)
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.MiddleName)
        @Html.DisplayFor(model => model.LastName)
    </h1>
    <hr />
    
        <h6>
            Last modified on: @Html.DisplayFor(model => model.ModifiedDate)
        </h6>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusinessEntityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
